.fullSalary {
    font-weight: bold;
    color: black;
}

.row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.spanSalary {
    font-size: 18px;
    font-family: Raleway Medium;
}


